.board-font{
  font-family: 'Teko', sans-serif;
  text-transform:uppercase;
  letter-spacing:1px;
}
.board-font2{
  text-transform:uppercase;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

#frame{
  transition:width 2s;
}
#frame.small{
  width:3px;
}
.letter-board{
    background:#ece9e3;
    border:5px double #dcd6ca;
    border-left:none;
    border-right:none;
    overflow:hidden;
    height:.75em;
    line-height:.5em;
    margin-bottom:0
}
.letter-board span{
    display: inline-block;
    overflow: hidden;
    transition: color 200ms ease-out;
    text-align: center;
    font-size: .8em;
    width: 0.475em;
    line-height: .85em;
    color:#090904;
    background: #e7dfd5;  /* fallback for old browsers */
    background: linear-gradient(13deg, #E1F5C4, #e7dfd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    vertical-align: middle;
}

.letter-board span:nth-child(6n+1){vertical-align: top;background: linear-gradient(13deg, #E1F5C4, #e9dede)}
.letter-board span:nth-child(4n+4){vertical-align: bottom;background: linear-gradient(13deg, rgba(205, 233, 185, 0.72), rgba(221, 212, 200, 0.65));}
.letter-board span:nth-child(8n+2){transform:rotate(2deg);background: linear-gradient(13deg, #e6fcc5, #ecdfcf)}
.letter-board span:nth-child(5n+3){width:.5em;background: linear-gradient(13deg, rgba(189, 206, 173, 0.02), #f8e7d3)}
.letter-board .flip{color:#a30006}
.letter-board.title span:first-child,
.letter-board.title span:last-child{
    font-size: 0.4em;
    width: 1em;
    vertical-align:middle;
    line-height:1;
    height:100%;
}